name: Python package

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: pip install mkdocs==1.1.2 mkdocs-material==7.1.3 mkdocs-minify-plugin
    - name: Deploy documents
      run: |
        echo -e "machine github.com\n  login ${{ secrets.PERSONAL_TOKEN }}" > ~/.netrc
        mkdocs gh-deploy --force --clean
